<div class="h-24 w-full flex justify-between px-28 pt-6">
    <div
        class="font-[FiraGO] font-semibold text-[#8338EC] text-2xl flex gap-1 cursor-pointer"
        routerLink="tasks"
    >
        <span class="pt-1 font-[Fredoka]">
            Momentum
        </span>
        <span>
            <img
                class="w-8 h-8 mt-1"
                src="/icons/png/Hourglass.png"
                alt="Icon"
            >
        </span>
    </div>
    <div class="flex gap-10">
        <p-button
            label="თანამშრომლის შექმნა"
            outlined
            styleClass="!border-[#8338EC] !bg-transparent !text-[#8338EC] !w-[225px] !h-[40px] font-semibold font-FiraGO hover:!border-[#8338EC] active:!border-[#8338EC]"
            (onClick)="openDialog()"
        />

        <p-button
            label="შექმენი ახალი დავალება"
            icon="pi pi-plus"
            styleClass="!bg-[#8338EC] !w-[268px] !h-[40px] !border-0 !text-white font-semibold font-FiraGO hover:!bg-[#6D2EC5FF] active:!bg-[#591EABFF]"
            routerLink="/tasks/add"
        />
    </div>
</div>

