<div class="flex flex-col gap-10">
    <div>
        დავალებების გვერდი
    </div>
    <div class="">
        <div class="flex gap-10  border border-[#DEE2E6] w-fit rounded-xl">
            <p-dropdown
                styleClass="!bg-transparent !border-0 !shadow-none hover:!text-blue-500"
                placeholder="დეპარტამენტი"
            />

            <p-dropdown
                styleClass="!bg-transparent !border-0 !shadow-none"
                placeholder="პრიორიტეტი"
            />

            <p-dropdown
                styleClass="!bg-transparent !border-0 !shadow-none"
                placeholder="თანამშრომელი"
            />
        </div>
    </div>
    <div class="grid grid-cols-4 gap-4">
        <div>
            <div class="bg-[#F7BC30] w-full h-14 rounded-xl"></div>
        </div>
        <div>
            <div class="bg-[#FB5607] w-full h-14 rounded-xl"></div>
        </div>
        <div>
            <div class="bg-[#FF006E] w-full h-14 rounded-xl"></div>
        </div>
        <div>
            <div class="bg-[#3A86FF] w-full h-14 rounded-xl"></div>
        </div>
    </div>
</div>
